.confirm-dialog {
    width: 400px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-weight: 100;
}