<div class="page-container">
  <div class="header">
    <div>
      <img src="assets/logo.png" alt="logo">
      <mat-form-field appearance="outline" style="margin-bottom: -20px;">
        <mat-label>Recherche</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <img src="assets/pdp.jpg" alt="profic pic">
  </div>
  <div class="sidebar">
    <div class="sidebar-item">
      <i class="fa-solid fa-chart-line"></i>
      <span>Tableau de bord</span>
    </div>
    <div class="sidebar-item sidebar-item-disabled">
      <i class="fa-solid fa-user-group"></i>
      <span>CRM</span>
      <i class="floating-chevron fa-solid fa-chevron-down"></i>
    </div>
    <div style="margin-left: 31px;">
      <div class="sidebar-item">
        <i class="fa-regular fa-envelope"></i>
        <span>Email</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-regular fa-address-book"></i>
        <span>Contacts</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-regular fa-building"></i>
        <span>Entreprise</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-solid fa-users"></i>
        <span>Clients</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
        <span>Transactions</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-solid fa-clock"></i>
        <span>Temps</span>
      </div>
    </div>
    <div class="sidebar-item">
      <i class="fa-regular fa-newspaper"></i>
      <span>Lettre de mission</span>
    </div>
    <div class="sidebar-item">
      <i class="fa-solid fa-file-invoice"></i>
      <span>Facturation</span>
    </div>
    <div class="sidebar-item">
      <i class="fa-solid fa-briefcase"></i>
      <span>Production</span>
    </div>
    <div class="sidebar-item">
      <i class="fa-solid fa-gear"></i>
      <span>Paramètres</span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>