<div class="page-container">
  <div class="header">
    <div>
      <img src="assets/logo.png" alt="logo">
      <mat-form-field appearance="outline" style="margin-bottom: -20px;">
        <mat-label>Recherche</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <div>
        <p style="margin-bottom: 0;">Eve RANDRIANALISOA</p>
        <small><i>Administrateur</i></small>
      </div>
      <img src="assets/pdp.jpg" alt="profic pic">
    </div>
  </div>

  <div class="content">
    <div class="sidebar" [style.marginLeft]="showMenu ? '0px' : '-290px'">
      <button (click)="showMenu = !showMenu"><i
          [class]="showMenu ? 'fa-solid fa-chevron-left' : 'fa-solid fa-chevron-right'"></i></button>
      <div *ngFor="let item of sidebarItems">
        <div *ngIf="!item.subItems" class="sidebar-item" [style.cursor]="item.disabled ? 'not-allowed' : 'pointer'"
          [style.backgroundColor]="item.id === activeMenu ? '#65a3975c' : ''" (click)="setActiveMenu(item)">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </div>

        <div *ngIf="item.subItems" class="sidebar-item sidebar-item-disabled">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
          <i (click)="toggleCrm()"
            [class]="showCrm ? 'floating-chevron fa-solid fa-chevron-up' : 'floating-chevron fa-solid fa-chevron-down'">
          </i>
        </div>

        <div *ngIf="item.subItems && item.showSubItems" style="margin-left: 31px;">
          <div *ngFor="let subItem of item.subItems" class="sidebar-item" style="cursor: not-allowed;">
            <i [class]="subItem.icon"></i>
            <span>{{ subItem.label }}</span>
          </div>
        </div>
      </div>
    </div>
    <div style="width: -webkit-fill-available; padding-top: 125px;" [style.marginLeft]="showMenu ? '315px' : '1em'">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>