.page-container {
    min-height: 100vh;

    .header {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--very-light-grey);
        border-bottom: 1px solid var(--light-grey);
        position: fixed;
        z-index: 2;
        width: -webkit-fill-available;

        >:first-child {
            display: flex;
            gap: 11em;
            align-items: center;

            img {
                width: 120px;
            }
        }

        >:last-child {
            display: flex;
            gap: 10px;
            align-items: center;

            >img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }

    .sidebar {
        width: 300px;
        background-color: var(--very-light-grey);
        padding: 10px;
        box-sizing: border-box;
        border-right: 1px solid var(--light-grey);
        height: 100vh;
        padding-top: 115px;
        position: fixed;
        z-index: 1;

        >button {
            position: absolute;
            top: 100px;
            right: -25px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: var(--primary-color);
            color: var(--very-light-grey);
        }

        .sidebar-item {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
            color: var(--grey);
            text-decoration: none;
            padding: 10px;
            position: relative;

            .floating-chevron {
                position: absolute;
                right: 10px;
            }

            &:hover {
                background-color: var(--light-color) !important;
                color: white;
            }

            i {
                font-size: 17px;
                width: 20px;
            }
        }

        .sidebar-item-disabled {
            &:hover {
                background-color: transparent !important;
                color: var(--grey);
            }
        }
    }
}

.content {
    display: flex;
    gap: 1em;
}