<div class="page-container">
  <div class="header">
    <div>
      <img src="assets/logo.png" alt="logo">
      <mat-form-field appearance="outline" style="margin-bottom: -20px;">
        <mat-label>Recherche</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <div>
        <p style="margin-bottom: 0;">Eve RANDRIANALISOA</p>
        <small><i>Administrateur</i></small>
      </div>
      <img src="assets/pdp.jpg" alt="profic pic">
    </div>
  </div>

  <div class="content">
    <div class="sidebar" [style.marginLeft]="showMenu ? '0px' : '-290px'">
      <button (click)="showMenu = !showMenu"><i
          [class]="showMenu ? 'fa-solid fa-chevron-left' : 'fa-solid fa-chevron-right'"></i></button>
      <div class="sidebar-item">
        <i class="fa-solid fa-chart-line"></i>
        <span>Tableau de bord</span>
      </div>
      <div class="sidebar-item sidebar-item-disabled">
        <i class="fa-solid fa-user-group"></i>
        <span>CRM</span>
        <i (click)="showCrm = !showCrm"
          [class]="showCrm ? 'floating-chevron fa-solid fa-chevron-up' : 'floating-chevron fa-solid fa-chevron-down'"></i>
      </div>
      <div style="margin-left: 31px;" [style.display]="showCrm ? 'block' : 'none'">
        <div class="sidebar-item">
          <i class="fa-regular fa-envelope"></i>
          <span>Email</span>
        </div>
        <div class="sidebar-item">
          <i class="fa-regular fa-address-book"></i>
          <span>Contacts</span>
        </div>
        <div class="sidebar-item">
          <i class="fa-regular fa-building"></i>
          <span>Entreprise</span>
        </div>
        <div class="sidebar-item">
          <i class="fa-solid fa-users"></i>
          <span>Clients</span>
        </div>
        <div class="sidebar-item">
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
          <span>Transactions</span>
        </div>
        <div class="sidebar-item">
          <i class="fa-solid fa-clock"></i>
          <span>Temps</span>
        </div>
      </div>
      <div class="sidebar-item">
        <i class="fa-regular fa-newspaper"></i>
        <span>Lettre de mission</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-solid fa-file-invoice"></i>
        <span>Facturation</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-solid fa-briefcase"></i>
        <span>Production</span>
      </div>
      <div class="sidebar-item">
        <i class="fa-solid fa-gear"></i>
        <span>Paramètres</span>
      </div>
    </div>
    <div style="width: -webkit-fill-available; padding-left: 1em;">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>