.edit-dialog {
    width: 800px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    .confirm-btn {
        color: white;
        background-color: var(--primary-color);
    }
}

.send-dialog {
    width: 800px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        font-weight: 100;
        width: 100%;
    }

    .confirm-btn {
        color: white;
        background-color: var(--primary-color);
    }
}