.graphs-container {
    display: flex;
    gap: 1em 2%;
    flex-wrap: wrap;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.graphs-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding-right: 1em;

    >div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

::ng-deep .graphs-container .card {
    width: 47%;
}